.talk-show-content {
    color: white;
}
.tk-ct-talk {
    padding-left: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(5, 0, 0);
}
.ct-d-text {
    padding-bottom:10px; 
    height: 420px;
    overflow-y: scroll;
    font-size: 18px;
    padding-left: 20px;
    padding-top: 10px;
}
.ct-p-text {
    height: 60px;
    border-top : 1px solid white; 
    display: flex;
}

.ct-p-text textarea {
    background-color: rgba(240, 248, 255, 0);
    margin-top: 2px;
    height: 47px;
    border:2px groove white; 
    resize: none;
    width: 48%;
    font-size: 18px;
    color: white;
    overflow: hidden;
    outline-width:0px; 
}
.white-color{
    color: white;
}
.blue-color {
    color: blue;
}
.red-color{
    color: rgb(255, 154, 4);
}
.bold-text {
    font-weight: bold;
}
.ct-btn{
    width:6%;
    margin-left: 0px;
}
.btn-send ,.btn-delete{
    text-align:  center;
    width: 60px;  
    padding:3px 0px 3px 0px;    
    background: linear-gradient(white,black,white);
    border-radius:3px; 
    cursor: pointer;
    border:1px groove white; 
    font-weight: bold;
}
.my-color{
    color: rebeccapurple;
}
.btn-send:active ,.btn-delete:active {
    background: linear-gradient(black,white,black);
}
.btn-send{
    margin-top: 3px;
}
.btn-delete{
    margin-top: -13px;
}
img{
    cursor: pointer;
}
.icon-list-img , .choose-file-img{
    margin-left: 10px;
    margin-top: 32px;
}

.icon-list{
    position: relative;
    width: 205px;
    height: 100px;
    background-color :rgba(5, 0, 0, 0.493);
    line-height: 0px;
}
.small-icon{
    margin-top:5px;
    margin-left: 5px; 
}
.hide-list-icon{
    display: none;
}
.display-list-icon{
    display: block;
}

.container-icon{
    width: 4%;
    text-align: center;
}